<h1><%= t('bookings.listing') %></h1>

<table>
  <tr>
    <th><%= t('bookings.room_number') %></th>
    <% if current_user.admin? %>
    <th><%= t('user') %></th>
        <% end %>
    <th><%= t('entry') %></th>
    <th><%= t('final') %></th>
    <th></th>
    <% if current_user.admin? %>
    <th></th>
        <% end %>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.room_id %></td>
    <% if current_user.admin? %>
    <td><%= booking.user_id %></td>
        <% end %>
    <td><%= booking.entry %></td>
    <td><%= booking.final %></td>
    <td><%= link_to t('show'), booking %></td>
    <% if current_user.admin? %>
    <td><%= link_to t('edit'), edit_booking_path(booking) %></td>
    <td><%= link_to t('destroy'), booking, confirm: 'Are you sure?', method: :delete %></td>
        <% end %>
  </tr>
<% end %>
</table>

<br />

