<p id="notice"><%= notice %></p>

<p>
  <b><%= t('bookings.room') %></b>
  <%= @booking.room_id %>
</p>
<% if current_user.admin? %>
<p>
  <b><%= t('user') %></b>
  <%= @booking.user_id %>
</p>
<% end %>
<p>
  <b><%= t('entry') %></b>
  <%= @booking.entry %>
</p>

<p>
  <b><%= t('final') %></b>
  <%= @booking.final %>
</p>
<p>
  <b><%= t('price') %></b>
  <%= @price %>
</p>


<% if current_user.admin? %>
<%= link_to t('edit'), edit_booking_path(@booking) %> |
<% end %>
<%= link_to t('back'), bookings_path %>
