<h1><%= t('requests.listing') %></h1>

<table>
  <tr>
    <th><%= t('user')%></th>
    <th><%= t('type') %></th>
    <th><%= t('name') %></th>
    <th><%= t('requests.comment') %></th>
    <th><%= t('requests.persons') %></th>
    <th><%= t('entry') %></th>
    <th><%= t('final') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.user_id %></td>
    <td><%= @apartment_hash[request.type_id.to_s] %></td>
    <td><%= request.name %></td>
    <td><%= request.comment %></td>
    <td><%= request.persons %></td>
    <td><%= request.entry %></td>
    <td><%= request.final %></td>
    <td><%= link_to t('show'), request %></td>
    <td><%= link_to t('edit'), edit_request_path(request) %></td>
    <td><%= link_to t('destroy'), request, confirm: t('confirm'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%# if current_user.admin? %>
<%= link_to t('requests.new'), new_request_path %>
<%# end %>
