<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> <%= t('room.error')%>:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('bookings.room_number') %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label t('requests.persons') %><br />
    <%= f.number_field :persons %>
  </div>
    Apartment type:
  <div class="field">
    <%= select_tag 'type_id',
                   options_from_collection_for_select(@apartment_types, 'id', 'title') %>
  </div>
  <div class="field">
    <%= f.label t('price') %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
