<h1><%= t('room.listing') %></h1>

<table>
  <tr>
    <th><%= t('bookings.room_number') %></th>
    <th><%= t('requests.persons') %></th>
    <th><%= t('type') %></th>
    <th><%= t('price') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= room.number %></td>
    <td><%= room.persons %></td>
    <td><%= @apartment_hash[room.type_id.to_s] %></td>
    <td><%= room.price %></td>
    <td><%= link_to t('show'), room %></td>
    <td><%= link_to t('edit'), edit_room_path(room) %></td>
    <td><%= link_to t('destroy'), room, confirm: t('confirm'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('room.new'), new_room_path %>
