<p id="notice"><%= notice %></p>

<p>
  <b><%= t('bookings.room_number') %>:</b>
  <%= @room.number %>
</p>

<p>
  <b><%= t('requests.persons') %>::</b>
  <%= @room.persons %>
</p>

<p>
  <b><%= t('type') %>::</b>
  <%= @apartment_hash[@room.type_id.to_s] %>
</p>


<p>
  <b><%= t('price') %>::</b>
  <%= @room.price %>
</p>


<%= link_to t('edit'), edit_room_path(@room) %> |
<%= link_to t('back'), rooms_path %>
