<h1>Listing apartment_types</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apartment_types.each do |apartment_type| %>
  <tr>
    <td><%= apartment_type.title %></td>
    <td><%= link_to 'Show', apartment_type %></td>
    <td><%= link_to 'Edit', edit_apartment_type_path(apartment_type) %></td>
    <td><%= link_to 'Destroy', apartment_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Apartment type', new_apartment_type_path %>
