<h1><%= t('apartments.listing') %></h1>

<table>
  <tr>
    <th><%= t('title') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apartment_types.each do |apartment_type| %>
  <tr>
    <td><%= apartment_type.title %></td>
    <td><%= link_to t('show'), apartment_type %></td>
    <td><%= link_to t('edit'), edit_apartment_type_path(apartment_type) %></td>
    <td><%= link_to t('destroy'), apartment_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('apartments.new'), new_apartment_type_path %>
