<p id="notice"><%= notice %></p>

<p>
  <b><%= t('title')%>></b>
  <%= @apartment_type.title %>
</p>


<%= link_to t('edit'), edit_apartment_type_path(@apartment_type) %> |
<%= link_to t('back'), apartment_types_path %>
